.right-side-bar{
    height: 100%;
    height: 100vh;
}
.right-side-bar-nav{
    @include flex-column(0.5rem);
    &-icons{
        color:#000
    }
    
}
.right-side-bar-user{
        width: 3rem;
        height: 3rem;
        background-color: #000;
        color:white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        color: white;
        cursor: pointer;
    }