*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", "Montserrat", sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  color: $dark-color;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button {
  font-family: inherit;
  font-size: inherit;
  border: none;
  background: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

input,
textarea {
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none;
}
